<form action="/C/D" method="POST">
    <h1>La clase {{clase}} sera eliminada desea continuar?</h1>
    <input type="hidden" name="id" value="{{id}}">
    <button type="submit" class="red">Borrar clase</button>
    <a href="/C/R?id={{id}}" class="blue">cancelar</a>
</form>