<!DOCTYPE html>
<html>
  <head>
    <title>Horario</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link href="stylesheets/bootstrap/css/bootstrap-grid.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">  </head>
  <body>
    {{{body}}}
  </body>
</html>
