<label>Usuario</label>
<input type="text">

<label>Contraseña</label>
<input type="password">

<label>Repetir contraseña</label>
<input type="password">

<a href="/">Registrarse</a>
<a href="/">Volver</a>