<form action="/H/D" method="POST">
    <h1>Esta apunto de eliminar una entrada en el horario desea continuar?</h1>
    <input type="hidden" name="d" value="{{d}}">
    <input type="hidden" name="e" value="{{e}}">
    <button type="submit" class="red">Borrar clase</button>
    <a href="/" class="blue">Volver</a>
</form>
