<h1>{{dia}}</h1>
<br><br>
<a href="/?x={{xl}}" >Anterior</a>
<a href="/?x={{xm}}" >Siguiente</a>
<br><br>
{{{html}}}

<br><br>
<br><br>
<a href="/C/C" class="blue" >Nueva clase</a>
<a href="/E" >Editar horario</a> 
<a href="/C" class="blue">Ver todas las clases registradas</a> 

